<div class="mo-bookids">
	<label for="add-book-prompt" id="add-book-label">Book ID</label>
	<input name="add-book-prompt" type="text" id="add-book-prompt">

	<button type="button" id="remove-book-order"><i class="fas fa-minus"></i></button>
</div>