<!doctype html>
<html>
<head>
	<title>Rocky Road Library</title>
    <link rel="stylesheet" type='text/css' href="/css/style.css" />
</head>
<body>
    <div class="header">Rocky Road Library</div>
    <div class="navigation">
      <a href="/browse-catalog">Browse Catalog</a>
      <a href="/manage-orders">Manage Orders</a>
      <a href="/place-order">Place Order</a>
      <a href="/add-book">Add Book</a>
    </div>
	{{{body}}}
    <!-- mountain range svg here -->
    <div class="footer">
        <div>31 Fudge Way | Rocky Road, MT 59444</div>
        <div>(406) 444 - 3131</div>
    </div>
</body>
</html>