<main class="content" id="place-order">

	<div id="add-book-fields">
		<label for="ab-title-prompt" id="ab-title-label">Title</label>
		<input name="ab-title-prompt" type="text" id="ab-title-prompt">

		<label for="ab-fname-prompt" id="ab-authorname-label">Author Name</label>
		<input name="ab-fname-prompt" type="text" id="ab-fname-prompt">
		<input name="ab-lname-prompt" type="text" id="ab-lname-prompt">

		<label for="ab-genre-prompt" id="ab-genre-label">Genre</label>
		<input name="ab-genre-prompt" type="text" id="ab-genre-prompt">
	</div>

	<button type="button" id="add-book-submit">Submit</button>

</main>