<main class="content" id="manage-members">

	<nav class="sidebar">
		<a id="members-add">Add</a>
		<a id="members-update">Update</a>
		<a id="members-delete">Delete</a>
		<a id="members-view">View</a>
	</nav>

	<div id="members-add-form">
		<div class="field-container">
			<div>
				<label for="mm-name-prompt" id="mm-name-label">Name</label>
			</div>
			<input name="mm-first-name-prompt" type="text" id="mm-first-name-prompt">
			<input name="mm-last-name-prompt" type="text" id="mm-last-name-prompt">
		</div>

		<div class="field-container">
			<div>
				<label for="mm-email-prompt" id="mm-email-label">Email</label>
			</div>
			<input name="mm-email-prompt" type="email" id="mm-email-prompt" placeholder="Optional">
		</div>

		<div class="field-container">
			<div>
				<label for="mm-phone-prompt" id="mm-phone-label">Phone</label>
			</div>
			<input name="mm-phone-prompt" type="tel" id="mm-phone-prompt" placeholder="Optional">
		</div>
		<button class="btn submit-btn" type="button" id="add-members-submit">Add</button>
		<div class="error-message" id="add-member-error" ></div>
	</div>

	<div id="members-update-form">
		<div class="field-container">
			<div>
				<label for="um-id-prompt" id="um-id-label">Member ID</label>
			</div>
			<input name="um-id-prompt" type="number" id="um-id-prompt">
		</div>
		
		<div class="field-container">
			<div>
				<label for="um-name-prompt" id="um-name-label">Name</label>
			</div>
			<input name="um-first-name-prompt" type="text" id="um-first-name-prompt">
			<input name="um-last-name-prompt" type="text" id="um-last-name-prompt">
		</div>

		<div class="field-container">
			<div>
				<label for="um-email-prompt" id="um-email-label">Email</label>
			</div>
			<input name="um-email-prompt" type="email" id="um-email-prompt">
		</div>

		<div class="field-container">
			<div>
				<label for="um-phone-prompt" id="um-phone-label">Phone</label>
			</div>
			<input name="um-phone-prompt" type="tel" id="um-phone-prompt">
		</div>
		<button class="btn submit-btn" type="button" id="update-members-submit">Update</button>
		<div class="error-message" id="update-member-error" ></div>
	</div>

	<div id="members-delete-form">
		<div class="field-container">
			<div>
				<label for="dm-id-prompt" id="dm-id-label">Member ID</label>
			</div>
			<input name="dm-id-prompt" type="number" id="dm-id-prompt">
		</div>
		<button class="btn submit-btn" type="button" id="remove-members-submit">Delete</button>
		<div class="error-message" id="delete-member-error" ></div>
	</div>

	<div id="members-view-section">
	</div>

</main>