<main class="content" id="manage-books">

	<nav class="sidebar">
		<a id="books-add">Add</a>
		<a id="books-update">Update</a>
		<a id="books-delete">Delete</a>
	</nav>

	<div id="add-book-fields">
		<div class="field-container">
			<div>
				<label for="ab-title-prompt" id="ab-title-label">Title</label>
			</div>
			<input name="ab-title-prompt" type="text" id="ab-title-prompt">
		</div>

		<div class="field-container">
			<div>
				<label for="ab-fname-prompt" id="ab-authorname-label">Author Name</label>
			</div>
			<input name="ab-fname-prompt" type="text" id="ab-fname-prompt">
			<input name="ab-lname-prompt" type="text" id="ab-lname-prompt">
		</div>

		<div class="field-container">
			<div>
				<label for="ab-genre-prompt" id="ab-genre-label">Genre</label>
			</div>
			<input name="ab-genre-prompt" type="text" id="ab-genre-prompt">
		</div>
		<button class="btn submit-btn" type="button" id="add-book-submit">Add</button>
	</div>

	<div id="update-books-fields">
		<div class="field-container">
			<div>
				<label for="ub-title-prompt" id="ub-title-label">Title</label>
			</div>
			<input name="ub-title-prompt" type="text" id="ub-title-prompt">
		</div>

		<div class="field-container">
			<div>
				<label for="ub-fname-prompt" id="ub-authorname-label">Author Name</label>
			</div>
			<input name="ub-fname-prompt" type="text" id="ub-fname-prompt">
			<input name="ub-lname-prompt" type="text" id="ub-lname-prompt">
		</div>

		<div class="field-container">
			<div>
				<label for="ub-genre-prompt" id="ub-genre-label">Genre</label>
			</div>
			<input name="ub-genre-prompt" type="text" id="ub-genre-prompt">
		</div>
		<button class="btn submit-btn" type="button" id="update-books-submit">Update</button>
	</div>

	<div id="rm-book-fields">
		<div class="field-container">
			<div>
				<label for="rm-book-prompt" id="rm-books-label">Book Id</label>
			</div>
			<input name="rm-book-prompt" id="rm-book-prompt" type="number">
		</div>

		<button class="btn submit-btn" type="button" id="rm-books-submit">Remove</button>
	</div>

</main>