<main class="content" id="manage-members">

	<nav class="sidebar">
		<a id="members-add">Add</a>
		<a id="members-update">Update</a>
		<a id="members-delete">Delete</a>
	</nav>

	<div id="members-add-form">
		<div class="field-container">
			<div>
				<label for="mm-name-prompt" id="mm-name-label">Name</label>
			</div>
			<input name="mm-first-name-prompt" type="text" id="mm-first-name-prompt">
			<input name="mm-last-name-prompt" type="text" id="mm-last-name-prompt">
		</div>

		<div class="field-container">
			<div>
				<label for="mm-email-prompt" id="mm-email-label">Email</label>
			</div>
			<input name="mm-email-prompt" type="email" id="mm-email-prompt">
		</div>

		<div class="field-container">
			<div>
				<label for="mm-phone-prompt" id="mm-phone-label">Phone</label>
			</div>
			<input name="mm-phone-prompt" type="tel" id="mm-phone-prompt">
		</div>
		<button class="btn submit-btn" type="button" id="manage-members-submit">Add</button>
	</div>

	<div id="members-update-form">
		<div class="field-container">
			<div>
				<label for="mm-id-prompt" id="mm-id-label">Member ID</label>
			</div>
			<input name="mm-id-prompt" type="number" id="mm-id-prompt">
		</div>
		
		<div class="field-container">
			<div>
				<label for="mm-name-prompt" id="mm-name-label">Name</label>
			</div>
			<input name="mm-first-name-prompt" type="text" id="mm-first-name-prompt">
			<input name="mm-last-name-prompt" type="text" id="mm-last-name-prompt">
		</div>

		<div class="field-container">
			<div>
				<label for="mm-email-prompt" id="mm-email-label">Email</label>
			</div>
			<input name="mm-email-prompt" type="email" id="mm-email-prompt">
		</div>

		<div class="field-container">
			<div>
				<label for="mm-phone-prompt" id="mm-phone-label">Phone</label>
			</div>
			<input name="mm-phone-prompt" type="tel" id="mm-phone-prompt">
		</div>
		<button class="btn submit-btn" type="button" id="manage-members-submit">Update</button>
	</div>

	<div id="members-delete-form">
		<div class="field-container">
			<div>
				<label for="mm-id-prompt" id="mm-id-label">Member ID</label>
			</div>
			<input name="mm-id-prompt" type="number" id="mm-id-prompt">
		</div>
		<button class="btn submit-btn" type="button" id="manage-members-submit">Delete</button>
	</div>

</main>