<main class="content" id="place-order">

	<div class="field-container">
		<div>
			<label for="memberid-prompt" id="memberid-label">MemberID</label>
		</div>
		<input name="memberid-prompt" type="text" id="memberid-prompt">
	</div>

	<div class="field-container">
		<div>
			<label for="checkoutdate-prompt" id="checkoutdate-label">Checkout Date</label>
		</div>
		<input name="checkoutdate-prompt" type="date" id="checkoutdate-prompt">
	</div>

	<div id="mo-bookids-container" class="mo-bookids field-container">
		<div class="mo-bookids">
			<label for="add-book-prompt" id="add-book-label">Book ID</label>
		</div>
			<input name="add-book-prompt" type="text" class="add-book-prompt">
	</div>

	<button type="button" id="add-book-order">+ add another book</button>
	<br>
	<button class="btn submit-btn" type="button" id="submit-place-order">Submit</button>

</main>