* {
  font-family: Arial, Helvetica, sans-serif;
}

/* So that elements will reach edges of page */
body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  background-color: #e9e9e9;
}

/* Rocky Road Library header */
header {
  width: 100%;
}
#header {
  color: black;
  background-color: #78ad7b;
  text-align: left;
  padding: 25px 0px 25px 25px;
  font-size: 36px;
}

/* Navigation bar */
#navlinks {
  background-color: black;
  overflow: hidden;
  text-align: left;
  width: 100%;
}

/* Buttons/links within navigation bar */
#navlinks a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px 25px 12px 25px;
  /* Remove the automatic underline from links */
  text-decoration: none;
  font-size: 18px;
}
#navlinks a:hover {
  background-color: dimgray;
}

/* Footer */
footer {
  color: white;
  background-color: #3c573e;
  text-align: center;
  font-size: 16px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
#footer {
  padding: 25px;
  border-top: solid 2px black;
}

/* Address and phone number within footer */
#footer div {
  margin: 5px;
}

.field-container {
  width: 100%;
  overflow: hidden;
}

.field-container input {
  text-align: center;
  width: 35%;
  height: 22px;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid #000000;
}

.sort-field {
  text-align: center;
  width: 65%;
  height: 22px;
  border: 2px solid #000000;
}

#ab-fname-prompt,
#mm-first-name-prompt,
#um-first-name-prompt {
  width: 17%;
}

#ab-lname-prompt,
#mm-last-name-prompt,
#um-last-name-prompt {
  width: 17%;
  margin-left: 1px;
}

.field-container div {
  text-align: center;
  width: 20%;
  height: 22px;
  padding-left: 18%;
  padding-top: 4px;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

/* IDK WHY CLASS="MO-BOOKIDS" ACTS DIFFERENT */

.field-container:first-child {
  margin-top: 15px;
}

.field-container button {
  float: left;
}

#add-book-order {
  background-color: transparent;
  border: none;
  width: 20%;
  height: 25px;
  margin-left: 45.5%;
  margin-top: 5px;
  color: #355437;
}

.add-another {
  background-color: transparent;
  border: none;
  height: 25px;
  margin-top: 5px;
  color: #355437;
}

/* So mouse behaves like buttons are interactive */
button:hover {
  cursor: pointer;
}

/* Submit and update buttons */
.btn {
  border-radius: 10px;
  background-color: #78ad7b;
  font-weight: bold;
  border-color: #000000;
}
.submit-btn {
  width: 20%;
  height: 25px;
  margin-top: 20px;
  margin-left: 45.5%;
}
.update-btn {
  width: 150px;
  height: 25px;
  margin-top: 20px;
  font-weight: normal;
}

.edit-btn {
  width: 75px;
  height: 25px;
  margin-left: 15px;
  margin-top: 5px;
}

.delete-btn {
  width: 75px;
  height: 25px;
  margin-left: 10px;
  margin-top: 5px;
}

/* Holds three columns in Browse Catalog and Manage Orders */
.column-container {
  overflow: hidden;
  text-align: center;
  width: 100%;
}

/* Columns in Browse Catalog and Manage Orders */
.side-right {
  width: calc(23% - 12px);
  border: 2px solid #000000;
  height: calc(100% - 252px);
  position: absolute;
  margin-top: 4px;
  margin-left: calc(77% + 4px);
}
.side-left {
  width: calc(23% - 12px);
  border: 2px solid #000000;
  height: calc(100% - 252px);
  position: absolute;
  margin-top: 4px;
  margin-left: 4px;
}
.center-section {
  width: 54%;
  height: calc(100% - 152px);
  position: absolute;
  margin-left: calc(23%);
}

/* Text box for searching */
#search-prompt {
  padding-left: 4px;
  width: 70%;
  height: 22px;
  margin-top: 15px;
  border: 2px solid #000000;
  font-style: italic;
}

/* Search chevron button */
#search-books-button,
#search-members-button {
  background-color: black;
  color: white;
  height: 28px;
  width: 28px;
}

/* Sort by headers */
.sort-header {
  font-style: italic;
}

/* Headers for Sort by, Weekly Picks, and Open Checkouts */
h5 {
  font-weight: lighter;
  font-size: 15px;
  margin-top: 8px;
}

/* Title for each book listed in Browse Catalog */
.book-title {
  font-style: italic;
  text-align: left;
  margin-left: 10%;
  margin-top: 20px;
}

/* Holds attributes listed for each book in Browse Catalog */
.book-detail-container {
  padding-left: 10%;
  text-align: left;
}
.book-detail-container div {
  margin-top: 3px;
  margin-right: 15px;
  font-weight: lighter;
  font-size: 14px;
}

/* Title for each order listed in Manage Orders */
.order-title {
  font-weight: bold;
  float: none;
  text-align: left;
  margin-left: 5%;
  margin-top: 20px;
}

/* Holds attributes listed for each order in Manage Orders */
.order-detail-container {
  width: 100%;
  overflow: hidden;
  padding-left: calc(5%);
}
.order-detail-container div {
  float: left;
  margin-top: 3px;
  margin-right: 15px;
  font-weight: lighter;
  font-size: 12px;
}

h2 {
  text-align: center;
  font-size: 25px;
  margin-top: 25px;
  margin-left: 12%;
}

/* Navigation bar */
.sidebar {
  margin-left: 15px;
  margin-top: 0;
  width: 13%;
  min-width: 125px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Buttons/links within navigation bar */
.sidebar a {
  display: block;
  color: #000;
  padding: 8px 25px;
  text-decoration: none;
  background-color: gray;
}

.sidebar a:hover {
  cursor: pointer;
}

#members-add,
#books-add {
  background-color: lightgrey;
}

#members-add-form {
  display: initial;
}

#members-update-form,
#members-delete-form,
#rm-book-fields {
  display: none;
}

.returned-submit {
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: left;
  background-color: transparent;
  border: transparent;
  position: absolute;
  right: 10px;
}

.fa-check-square {
  color: #3d573f;
  position: absolute;
  top: -1px;
  right: 0px;
}
